= provide :title, "SignUp"

.row#signup_page
  .title
    %h3 新規登録
  .signup_form
    = form_for(@user) do |f|
      = render "shared/error_messages", object: f.object
      %table
        %tr
          %th
            = f.label :userid, "ユーザーID"
          %td
            = f.text_field :userid
            %p ※20文字以下
        %tr
          %th
            = f.label :email, "Eメール"
          %td
            = f.text_field :email
            %p ※20文字以下
        %tr
          %th
            = f.label :nickname, "ニックネーム"
          %td
            = f.text_field :nickname
            %p ※一度登録したニックネームの変更はできません
        %tr
          %th#password-first
            = f.label :password, "パスワード"
          %td
            = f.text_field :password
            %p ※6文字以上,30文字以下
        %tr
          %th#password-confirmation
            = f.label :password_confirmation, "パスワード（確認）"
          %td
            = f.text_field :password_confirmation

      = f.submit "登録する", class: "btn btn-success"

