= provide :title, @user.nickname

%section
  %h1
    = gravatar_for @user
    = @user.nickname
%section
  = render "shared/stats"
= render "follow_form" if signed_in?
- if @user.microposts.any?
  %h3
    Microposts
    = @user.microposts.count
  %ol.feed_items
    = render "shared/feed"