= provide :title, @user.nickname
#users_show_page
  .profile
    = gravatar_for @user
    %p
      = @user.nickname
    = render "shared/stats"
  = render "follow_form" if signed_in?
- if @user.microposts.any?
  %h4
    #{@user.nickname}さんの投稿 : #{@feed_items.count}件
  %ol.feed_items
    = will_paginate @feed_items, :renderer => BootstrapPagination::Rails
    = render "shared/feed"