%h4
  %i.glyphicon.glyphicon-search 
  %p ジャンル
%ul
  %li= link_to "文学", literature_products_path
  %li= link_to "恋愛", love_products_path
  %li= link_to "歴史", history_products_path
  %li= link_to "推理", mystery_products_path
  %li= link_to "ファンタジー", fantasy_products_path
  %li= link_to "SF", sf_products_path
  %li= link_to "ホラー", horror_products_path
  %li= link_to "コメディ", comedy_products_path
  %li= link_to "冒険", adventure_products_path
  %li= link_to "学園", academy_products_path
  %li= link_to "戦記", millitary_products_path
  %li= link_to "童話", fairy_tail_products_path
  %li= link_to "詩",  poem_products_path
  %li= link_to "エッセイ", essay_products_path
  %li= link_to "リプレイ", replay_products_path
  %li= link_to "その他", others_products_path
