%h4
  %i.glyphicon.glyphicon-search 
  %p ジャンル
%ul
  %li= link_to "文学・評論", literature_products_path
  %li= link_to "人文・思想", "#"
  %li= link_to "社会・政治", "#"
  %li= link_to "ノンフィクション", "#"
  %li= link_to "歴史・地理", "#"
  %li= link_to "ビジネス・経済", "#"
  %li= link_to "投資・金融・会社経営", "#"
  %li= link_to "科学・テクノロジー", "#"
  %li= link_to "医学・薬学", "#"
  %li= link_to "コンピュータ・IT", computer_products_path
  %li= link_to "アート・建築・デザイン", "#"
  %li= link_to "趣味・実用", "#"
  %li= link_to "スポーツ・アウトドア", "#"
  %li= link_to "資格・検定・就職", "#"
  %li= link_to "暮らし・健康・子育て", "#"
  %li= link_to "旅行ガイド・マップ", "#"
  %li= link_to "語学・辞事典・年鑑", "#"
  %li= link_to "教育・学参・受験", "#"
  %li= link_to "絵本・児童書", "#"
  %li= link_to "コミック・ラノベ・BL", "#"
  %li= link_to "ライトノベル", "#"
  %li= link_to "タレント写真集", "#"
  %li= link_to "ゲーム攻略・ゲームブック", "#"
  %li= link_to "エンターテイメント", "#"
  %li= link_to "新書・文庫", "#"
  %li= link_to "雑誌", "#"
  %li= link_to "楽譜・スコア・音楽書", "#"

  / %li= link_to "文学", literature_products_path
  / %li= link_to "恋愛", love_products_path
  / %li= link_to "歴史", history_products_path
  / %li= link_to "推理", mystery_products_path
  / %li= link_to "ファンタジー", fantasy_products_path
  / %li= link_to "SF", sf_products_path
  / %li= link_to "ホラー", horror_products_path
  / %li= link_to "コメディ", comedy_products_path
  / %li= link_to "冒険", adventure_products_path
  / %li= link_to "学園", academy_products_path
  / %li= link_to "戦記", millitary_products_path
  / %li= link_to "童話", fairy_tail_products_path
  / %li= link_to "詩",  poem_products_path
  / %li= link_to "エッセイ", essay_products_path
  / %li= link_to "リプレイ", replay_products_path
  / %li= link_to "その他", others_products_path
