/ list-stylenoneにする

%ul
  %li= link_to "オリジナル", original_products_path
  %li= link_to "ゲーム", game_products_path
  %li= link_to "漫画・アニメ", comicanime_products_path
  %li= link_to "小説・ドラマ・映画原作", noveldramamovie_products_path
  %li= link_to "安価", questionnaire_products_path
  %li= link_to "歴史", history_products_path
  %li= link_to "特撮", tokusatsu_products_path
  %li= link_to "知識", knowledge_products_path
  %li= link_to "職業", job_products_path
  %li= link_to "音楽", music_products_path
  %li= link_to "スポーツ", sports_products_path
  %li= link_to "宗教・神話", religionmyth_products_path
  %li= link_to "グルメ",  gourmet_products_path
  %li= link_to "短編・予告", shortnotice_products_path
  %li= link_to "【R-18/R-15】", rating_products_path
  %li= link_to "その他", others_products_path
