= form_for(@product) do |f|
  = render "shared/error_messages", object:f.object
  
  #product_new_form
    %table
      %tr
        %th
          = f.label :title, "作品名"
        %td
          = f.text_field :title
      %tr
        %th
          = f.label :genre,"ジャンル選択"
        %td
          = f.select(:genre,["文学・評論","人文・思想","社会・政治","ノンフィクション","歴史・地理","人文・思想","社会・政治","ノンフィクション","歴史・地理","ビジネス・経済","投資・金融・会社経営","科学・テクノロジー","医学・薬学","コンピュータ・IT","アート・建築・デザイン","趣味・実用","スポーツ・アウトドア","資格・検定・就職","暮らし・健康・子育て","旅行ガイド・マップ","語学・辞事典・年鑑","教育・学参・受験","絵本・児童書","コミック・ラノベ・BL","ライトノベル","タレント写真集","ゲーム攻略・ゲームブック","エンターテイメント","新書・文庫","雑誌","楽譜・スコア・音楽書",],{include_blank: false}, size: 1)
          / = f.select(:genre,["文学","恋愛","歴史","推理","ファンタジー","SF","ホラー","コメディ","冒険","学園","戦記","童話","詩","エッセイ","リプレイ","その他"],{include_blank: false}, size: 1)
      %tr
        %th
          = f.label :link, "リンク"
        %td
          = f.text_field :link
    - if defined? show_new
      = f.submit "投稿する", class: "btn btn-primary"
    - else
      = f.submit "編集する", class: "btn btn-primary"