= provide :title, @product.title
#product_show_page
  .product_info
    %h2 #{@product.title}
    %span
      ジャンル: #{@product.genre}
    %span
      感想: #{@microposts.count}件
    %span
      URL: 
      = link_to "#{@product.link}", @product.link
    = button_to create_micropost_product_path(@product.id), method: :get, class: "btn btn-default" do
      感想を投稿する
  %h3 #{@product.title}に関する感想
  .feed_items
    - if @microposts.any?
      = will_paginate @microposts, :renderer => BootstrapPagination::Rails
      %ol.microposts
        = render partial: "shared/feed_item", collection: @microposts
      = will_paginate @microposts, :renderer => BootstrapPagination::Rails
    - else
      %h3
        #{@product.title}の感想はまだありません
