= provide :title, @product.title
%h2 作品情報
= @product.title
= @product.genre
= @product.link
.btn.btn-default
  = link_to "感想を投稿する", create_micropost_product_path(@product.id)
%h2 #{@product.title}に関する感想
- if @product.microposts.any?
  %h3
    Microposts
    = @product.microposts.count
  %ol.microposts
    = render partial: "shared/feed_item", collection: @microposts
  = will_paginate @microposts
