%nav.navbar.navbar-default-white.navbar-fixed-top
  .container
    .row
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %a.navbar-brand.page-scroll{:href => root_path} Bookstrap!
      / Collect the nav links, forms, and other content for toggling
      %ul.nav.navbar-text.navbar-explanation
        %li 友人や趣味が合う人をフォローして
        %li お気に入りの作品と出会おう
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "TOP", root_path
        %li= link_to "人を探す", users_path
        %li= link_to "作品を探す", products_path
        - if signed_in?
          %li= link_to "新しい作品の追加", new_product_path
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              アカウント管理
              %b.caret
            %ul.dropdown-menu
              %li= link_to "マイページ", current_user
              %li= link_to "ユーザー情報管理", edit_user_path(current_user)
              %li.divider
              %li
                = link_to "ログアウト", signout_path, method: "delete"
        -else
          %li= link_to "ログイン", signin_path
          %li= link_to "会員登録", signup_path
      / /.navbar-collapse
    / /.container-fluid