%nav.navbar.navbar-default-white.navbar-fixed-top
  .container
    .row
      / Brand and toggle get grouped for better mobile display
      .navbar-header.col-md-5.col-md-push-2
        %a.navbar-brand.page-scroll{:href => root_path} Bookstrap!
      / Collect the nav links, forms, and other content for toggling
      %ul.nav.navbar-nav.col-md-5.navbar-right
        %li= link_to "Home", root_path
        - if signed_in?
          %li= link_to "Users", users_path
          %li= link_to "新しい作品の追加", new_product_path
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Account
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Profile", current_user
              %li= link_to "Settings", edit_user_path(current_user)
              %li.divider
              %li
                = link_to "Sign out", signout_path, method: "delete"
        -else
          %li= link_to "Sign in", signin_path
      / /.navbar-collapse
    / /.container-fluid