!!!
%html
  %head
    %title= "Bookstrap:#{yield(:title)}"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render "layouts/header"
    .container
      - flash.each do |key, value|
        %div(class="alert alert-#{key}")
          = value
      .row
        - if signed_in?
          %aside.col-md-3.col-md-push-2
            %section#user_info
              = render "shared/user_info"
            / %section#micropost_number
            /   = render "shared/micropost_number"
            %section#user_actions
              = render "shared/user_actions"
            %section#genre_links
              = render "shared/genre_links"
          #home_content.col-md-6.col-md-push-2
            = yield
        - else
          %section#genre_links.col-md-3.col-md-push-2
            = render "shared/genre_links"
          #home_content.col-md-6.col-md-push-2
            = yield